@import compass/css3
@import compass/utilities
@import 960/grid
@import standards/colors

body
  .block
    &.video
      background: $black
      color: $gray
      padding: 20px 0
      .tagline
        +grid(4)
        +alpha
        h1
          height: 318px
      .video_embed
        +grid(8)
        +omega
        iframe
          border: 3px solid $white
    &.what
      background: $blue
      color: $white
      h2
        color: $white
        font-family: 'Lobster', cursive
        font-weight: 400
        text-align: center
        margin-bottom: 12px
      h4
        color: $white
        font-weight: 400
        line-height: 30px
    &.when
      background: $dark_blue
      height: 120px
      h3
        color: $light_blue
        text-align: center
      .container
        overflow: visible
      .content
        position: relative
      .how_much
        .outer
          position: absolute
          top: 16px
          right: 0
          .top
            width: 0
            border-bottom: 30px solid $orange
            border-left: 52px solid transparent
            border-right: 52px solid transparent
          .middle
            width: 104px
            height: 60px
            background-color: $orange
            h4
              padding: 0 8px
              color: $black
              text-align: center
              font-size: 20px
              line-height: 22px
          .bottom
            width: 0
            border-top: 30px solid $orange
            border-left: 52px solid transparent
            border-right: 52px solid transparent
        .inner
          position: absolute
          top: 22px
          right: 0
          margin-right: 5px
          .top
            width: 0
            border-bottom: 28px solid $yellow
            border-left: 47px solid transparent
            border-right: 47px solid transparent
          .middle
            width: 95px
            height: 53px
            background-color: $yellow
            h4
              font-family: 'Abel', sans-serif
              font-weight: 400
              color: $red
              padding-top: 4px
              text-align: center
              font-size: 20px
              line-height: 22px
          .bottom
            width: 0
            border-top: 28px solid $yellow
            border-left: 47px solid transparent
            border-right: 47px solid transparent
    &.status
      background: $light_cream
      color: $brown
      h2
        +grid(8)
        +grid-suffix(4)
        +alpha
        color: $brown
        font-size: 24px
        line-height: 32px
        font-weight: 400
        margin-bottom: 48px
      .number
        font-family: 'Abel', sans-serif
        font-size: 56px
        line-height: 72px
        color: $dark_brown
        &.to_go
          color: $red
        &.success
          color: $green
      span.asterisk
        font-size: 10px
        vertical-align: super
      .remaining_days, .leaders_to_go, .followers_to_go
        +grid(4)
        padding: 20px 0
        text-align: center
        +border-radius(6px)
        background: $cream
        border: 5px solid $dark_cream
        width: 290px
      .remaining_days
        +alpha
      .followers_to_go
        +omega
      .call_to_action
        +grid(6)
        +alpha
        +grid-prefix(3)
        +grid-suffix(3)
        margin: 48px 0
      .observations
        +grid(12)
        +alpha
        font-style: italic
        font-size: 14px
        line-height: 22px
    &.where
      background: $light_brown
      padding: 20px 0
      .text
        +grid(6)
        +alpha
        line-height: 24px
        h3
          color: $dark_brown
          font-size: 20px
        img
          +grid(2)
          border: 3px solid $white
          width: 134px
          &.first
            +alpha
          &.last
            +omega
      .map
        +grid(6)
        +omega
