@import compass/reset
@import compass/css3
@import compass/utilities
@import 960/grid
@import standards/colors

body
  background: $dark_blue
  #header_container
    background: $white
  #header
    height: 120px
    +grid-container
    width: 962px
    +clearfix
    overflow: visible
    #logo
      +grid(5)
      margin-top: 12px
      img
        height: 95px
    #social
      +grid(7)
      +omega
      margin-top: 60px
      text-align: right
      h4
        color: $dark_gray
        font-weight: 400
        font-size: 18px
        margin-bottom: 6px
        padding-left: 44px
        a
          color: $dark_gray
          &:hover
            color: $red
        img
          width: 64px
          vertical-align: middle
          margin-left: 4px
          margin-top: -5px
        .subscribe_button
          float: right
          overflow: hidden
          width: 108px
          height: 32px
          margin-top: -4px
          margin-left: 6px
          iframe
            margin-left: -6px
            margin-top: -37px