@import compass/css3
@import compass/utilities
@import 960/grid
@import standards/colors

body
  #back_to_top
    z-index: 2
    display: none
    position: fixed
    top: 24px
    right: 24px
    color: white
    display: block
    text-indent: -9999px
    width: 45px
    height: 45px
    background: $medium_gray url(image_path("back_to_top.png")) no-repeat center top
    -webkit-border-radius: 8px
    -moz-border-radius: 8px
    -ms-border-radius: 8px
    -o-border-radius: 8px
    border-radius: 8px
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4)
    &:hover
      background-color: $dark_red
    &:active
      background-color: $red
  .block
    &#video
      h1
        .separator
          line-height: 24px
      background: $black
      color: $gray
      padding: 20px 0
      .tagline
        +grid(4)
        +alpha
        h1
          height: 318px
      .video_embed
        +grid(8)
        +omega
        iframe
          border: 3px solid $white
    &#what
      background: $blue
      color: $white
      h2
        color: $white
        font-family: 'Lobster', cursive
        font-weight: 400
        text-align: center
        margin-bottom: 20px
      h4
        color: $white
        font-weight: 400
        line-height: 30px
        margin-bottom: 20px
      ul.menu
        +horizontal-list
        margin-top: 28px
        li
          margin-right: 15px
          &:last-child
            margin-right: 0
          a
            display: block
            font-size: 16px
            padding: 6px 12px
            background: $medium_blue
            +border-radius(3px)
            color: $white
            &:hover
              background: $light_blue
    &#status
      background: $light_cream
      color: $brown
      a
        color: $brown
        font-weight: 400
        text-decoration: underline
      .number
        font-family: 'Abel', sans-serif
        font-size: 48px
        line-height: 72px
        color: $dark_brown
        .per_month
          color: $brown
          font-size: 24px
          line-height: 24px
        &.to_go
          color: $red
        &.success
          color: $green
      .goal, .current_amount, .total_backers
        +grid(4)
        padding: 20px 0
        text-align: center
        +border-radius(6px)
        background: $cream
        border: 5px solid $dark_cream
        width: 290px
      .goal
        +alpha
      .total_backers
        +omega
      span.asterisk
        font-size: 10px
        vertical-align: super
      .observations
        margin-top: 20px
        +grid(12)
        +alpha
        font-style: italic
        font-size: 14px
        line-height: 22px
    &#rewards
      background: $light_brown
      line-height: 24px
      ol
        margin-top: 20px
        padding-left: 40px
        counter-reset: rewards_counter
        li
          margin-bottom: 16px
          &:before
            content: counter(rewards_counter)
            counter-increment: rewards_counter
            font-family: 'Abel', sans-serif
            font-size: 32px
            margin-left: -40px
            margin-right: 22px
            color: $green
      h3
        color: $dark_brown
        font-size: 20px
        text-align: center
      .call_to_action
        +grid(6)
        +alpha
        +grid-prefix(3)
        +grid-suffix(3)
        margin-top: 32px
    &#backers
      background: $white
      h3
        font-family: 'Lobster', cursive
        font-weight: 400
        font-size: 32px
        color: $brown
      ul
        +horizontal-list
        margin-top: 20px
        li
          margin-right: 16px
          .photo
            text-align: center
            width: 100px
            height: 100px
            overflow: hidden
            margin: 8px auto
            +border-radius(50px)
    &#about_us
      background: $dark_red
      color: $white
      font-size: 16px
      line-height: 23px
      a
        color: $white
        font-weight: 400
        text-decoration: underline
        &:hover
          color: $orange
      hr
        clear: both
        border: 0
        height: 92px
        background: url(image_path("hr.png")) 50% 24px no-repeat
      .photo
        .credit
          color: $gray
          text-align: right
          font-size: 14px
          line-height: 30px
          a
            color: $gray
            font-weight: 400
            font-size: 14px
            line-height: 30px
            text-decoration: underline
            &:hover
              color: $white
        img
          border: 3px solid $white
        &.couple
          float: right
          img
            width: 214px
            margin-left: 20px
        &.laura
          float: left
          img
            width: 134px
            margin-right: 20px
        &.daniel
          float: right
          margin-bottom: 38px
          img
            width: 134px
            margin-left: 20px
      .signature
        font-style: italic
        text-align: right
        margin-top: 16px
    &#faq
      background: $dark_cream
      h3
        color: $dark_red
        font-size: 20px
      h4
        font-size: 18px
        color: $brown
        margin-bottom: 8px
      ul
        margin-top: 20px
        li
          margin-bottom: 16px
          p
            line-height: 24px
          iframe.reference
            +grid(4)
            margin-bottom: 24px
            &.first
              +alpha
            &.last
              +omega
      .call_to_action
        +grid(6)
        +alpha
        +grid-prefix(3)
        +grid-suffix(3)
        margin-top: 32px
