$gray: #a9a9a9
$light_gray: #ddd
$dark_gray: #888

$black: black
$white: white

$red: #B81616
$dark_red: #82070a

$blue: #40A1C6
$dark_blue: #194659
$light_blue: #44B6E4

$orange: #F5C964
$yellow: #F9FFAB
$cream: #F1F2DC
$light_brown: #E5C188
